<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <title>INFORMATION</title>

    <!-- フォント・Swiper（必要なら） -->
    <link href="https://fonts.googleapis.com/css2?family=Allura&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />

    <!-- CSS -->
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/info.css">
</head>

<body>

    <!-- ★ header fragment -->
    <div th:replace="~{headerInfo :: globalHeader}"></div>

    <div class="wrapper">
        <main>

            <h1 class="info-title">Infomation</h1>
 
			<a href="/info2" target="_blank" class="info-button">
			     新郎・新婦の紹介
			</a>
			<a href="/menu" target="_blank" class="info-button">
				Food & Drink Menu
			</a>
			<a href="/seat" target="_blank" class="info-button">
			    席次表
			</a>
			<a href="https://www.weddingshare.me/weddings/7xn0kdvwbdes0vfu/JBUasbTf4oRtVHVkm5xfmIzlrsshyEC4?openExternalBrowser=1&type=link" target="_blank" class="info-button">
				写真共有(Wedding Share)
			</a>
            <a href="/pdf/hotel.pdf" target="_blank" class="info-button">
                提携先ホテル
            </a>

        </main>

        <!-- ★ footer fragment -->
        <div th:replace="~{footerInfo :: globalFooter}"></div>
    </div>

    <!-- JS -->
    <script src="/js/header.js"></script>

</body>
</html>