<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
		<title>Wedding Invitation</title>
		<link href="https://fonts.googleapis.com/css2?family=Allura&display=swap" rel="stylesheet" />
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
		<link rel="stylesheet" href="/css/info.css">
	</head>

<body>

    <h1 class="info-title">INFORMATION</h1>
    <p class="info-sub">インフォメーション</p>

    <p class="info-note">席次表、メニュー表は順次更新予定です</p>

    <a href="/pdf/hotel.pdf" target="_blank" class="info-button">
        提携先ホテル
    </a>
</body></html>