<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <title>セッションが切れました</title>
    <link rel="stylesheet" href="/css/base.css">
</head>

<body>

<div th:replace="~{header :: globalHeader}"></div>

<div class="wrapper">
<main>
    <h1>セッションが切れました</h1>

    <p style="margin-top:20px;">
        一定時間操作がなかったため、入力内容がリセットされました。<br>
        お手数ですが、もう一度最初からご入力をお願いします。
    </p>

    <div style="margin-top:30px;">
        <a href="/rsvp" class="btn">RSVP 入力画面へ戻る</a>
    </div>
</main>

<div th:replace="~{footer :: globalFooter}"></div>
</div>

</body>
</html>