<header class="headerInfo" th:fragment="globalHeader">
    <a href="/top">
        <img src="/img/logo.png" class="header-logo">
    </a>

    <button class="menu-btn" id="js-menu-btn">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="menu-text">MENU</span>
    </button>

    <nav class="nav" id="js-global-nav">
        <ul>
            <li><a href="/info">新郎新婦紹介TOP</a></li>
            <li><a href="/top">招待状TOP</a></li>

            <li>
                <button class="info-toggle">
                    INFOMATION <span class="arrow">▼</span>
                </button>
                <ul class="info-sub">
                    <li><a href="/info">情報一覧</a></li>
					<li><a href="/menu">Food＆Drink Menu</a></li>
					<li><a href="/seat">席次表</a></li>
					<li><a href="https://www.weddingshare.me/weddings/7xn0kdvwbdes0vfu/JBUasbTf4oRtVHVkm5xfmIzlrsshyEC4?openExternalBrowser=1&type=link" target="_blank">写真共有</a></li>
                    <li><a href="/pdf/hotel.pdf">宿泊</a></li>
                </ul>
            </li>
        </ul>
    </nav>
</header>