<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Wedding Invitation</title>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
<link rel="stylesheet" href="/css/top.css">
</head>
<body>
	<header></header>
	<main>
		<section id="hero">
		  <div class="intro-text">WEDDING INVITATION</div>

		  <img src="img/top1.jpg" alt="top photo" class="hero-photo">

		  <h1 class="hero-title">OUR BIG DAY</h1>
		  <p class="hero-date">May 9, 2026</p>
		</section>
		<section id="countdown">
			<h2>CountDown</h2>
		  <div class="count-top">
		    <span id="days" class="big-time"></span>
		    <span class="big-unit">DAY</span>
		  </div>

		  <div class="count-bottom">
		    <div class="count-item">
		      <span id="hours" class="time"></span>
		      <span class="unit">HOUR</span>
		    </div>
		    <div class="count-item">
		      <span id="minutes" class="time"></span>
		      <span class="unit">MINUTE</span>
		    </div>
		    <div class="count-item">
		      <span id="seconds" class="time"></span>
		      <span class="unit">SECOND</span>
		    </div>
		  </div>
		</section>
		<section id = "message">
			<h2>Message</h2>
				<p>○○の候</p>
				<p>皆さまいかがお過ごしでしょうか<br>
				   このたび　私たちは結婚式を挙げることになりました<br>
				   つきましては　ご挨拶をかねて<br>
				   ささやかなパーティーを行いたいと思います<br>
				   ご多忙中　誠に恐縮ではございますが<br>
				   ぜひご出席いただきたくご案内申しあげます</p>		
		</section>
		<section id = "host">
			<h2>Host</h2>	
			<div id = "groom">
				<img src ="">
				<p class = "name">三瓶　航太</p>
				<p class = "message"></p>
			</div>
			<div id = "bride">
				<img src ="">
				<p class = "name">渡邉　莉帆</p>
				<p class = "message">
					渡邉莉帆です。
					2000年早生まれで、26歳です！<br>
					幼少期に兄の影響で始めた野球でしたが　今では野球観戦が趣味⚾<br>
					同じ趣味を持つ航太さんは、道だけでなく話も右往左往しがちな私を<br>
					さりげなくリードしてくれます。<br>
					当日は、一緒に、たくさん飲んで、食べて、はしゃいで楽しみましょう！
				</p>	
			</div>
		</section>
		<section id="gallery" class="photo-slider-section">
			<h2>Gallery</h2>
		  <div class="swiper photo-slider">
		    <div class="swiper-wrapper">
		      <div class="swiper-slide"><img src="/images/photo1.jpg" alt=""></div>
		      <div class="swiper-slide"><img src="/images/photo2.jpg" alt=""></div>
		      <div class="swiper-slide"><img src="/images/photo3.jpg" alt=""></div>
		      <div class="swiper-slide"><img src="/images/photo4.jpg" alt=""></div>
		      <div class="swiper-slide"><img src="/images/photo5.jpg" alt=""></div>
		    </div>

		    <div class="swiper-pagination"></div>
		  </div>
		</section>
		<section id = "event">
			<h2>Event</h2>
			<div class="date">
				<p>2026年 5月 9日</p>
				<p>挙式</p>
				<p>10時30分</p>
				<p>披露宴</p>
				<p>11時30分</p>
			</div>
			<div class="location">
				<p>グランドオリエンタルみなとみらい</p>
				<p>電話番号</p>
				<p>住所</p>
				<p><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3249.9991449059858!2d139.6396624!3d35.454815599999996!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60185c59e0b77919%3A0xca7d65f71af5430e!2z44Kw44Op44Oz44OJ44Kq44Oq44Ko44Oz44K_44Or44G_44Gq44Go44G_44KJ44GE!5e0!3m2!1sja!2sjp!4v1768546552951!5m2!1sja!2sjp" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></p>
			</div>	
			<div class="Infomation">
				<p>送迎について</p>
		</section>
		<section id = "rsvp">
			<button><a>RSVP回答</a></button>
		</section>
		<div id = "thankyou_message"></div>
	</main>
	<footer></footer>
	<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
	<script src="/js/top.js"></script>
</body>
</html>