<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <title>Menu</title>

    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/menu.css">
</head>

<body>

    <!-- ヘッダー（共通） -->
    <div th:replace="~{headerInfo :: globalHeader}"></div>

    <div class="wrapper">

        <main class="menu-page">

            <h1>Food Menu</h1>
            <p class="subtitle">本日の特別なコースをご紹介します</p>

            <!-- コース料理 -->
			<!-- お子様メニュー -->
			<section class="menu-card">
			    <h2 class="section-title">Children Menu｜お子様メニュー</h2>

			    <div class="menu-item kids-flex">
			        
			        <ul class="drink-list kids-list">
			            <li>ハンバーグ</li>
			            <li>ポテトグラタン</li>
			            <li>ロールサンドウィッチ</li>
			            <li>ケチャップライス</li>
			            <li>エビフライ</li>
			            <li>かぼちゃのサラダ</li>
			            <li>ポテトフライ</li>
			            <li>パンナコッタ</li>
			            <li>ベリーのワッフルタルト</li>
			            <li>マカロン</li>
			            <li>フルーツジュレ</li>
			        </ul>

			        <div class="kids-photo">
			            <img src="/img/kids-menu.png" alt="お子様ランチ" class="profile-photo">
			        </div>

			    </div>
			</section>
        </main>

        <!-- フッター（共通） -->
        <div th:replace="~{footerInfo :: globalFooter}"></div>

    </div>
	<script src="/js/header.js"></script>

</body>
</html>